.navbar {
  position: fixed;
  top: 30vh;
  right: 5vw;
  margin-left: 36px;
  max-width: 250px;
}

ul.toc-list {
  border-left: 1px solid #363636;
}

ul.toc-list > li,
ul.subheading > li {
  list-style-type: none;
  margin-left: 24px;
  font-size: 13px;
}

ul.toc-list > li > a,
ul.subheading > li > a {
  color: #c2c2c2;
  text-decoration: none;
  border-bottom: 0;
  transition: 1s all ease-in-out;
}

ul.toc-list > li.is-current > a,
ul.subheading > li.is-current > a {
  color: black;
}

/* Hide Table of Content when screen is smaller than 1440px */
@media only screen and (max-width: 999px) {
  nav {
    display: none;
  }
}
