.gatsby-highlight {
  position: relative;
  max-width: 40rem;
  margin: 0 auto;
}

::-webkit-scrollbar {
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2ece1;
  border-radius: 10px;
  filter: brightness(50%);
}
::-webkit-scrollbar-thumb:hover {
  background: #6cdac6;
}
::-webkit-scrollbar-thumb:active {
  background: #31c4a9;
}
.gatsby-highlight pre[class*="language-"] {
  overflow-x: scroll;
}
.gatsby-highlight pre[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}
.gatsby-highlight pre[class~="language-js"]::before {
  content: "js";
  background: #f7df1e;
  color: rgb(22, 22, 22);
}
.gatsby-highlight pre[class~="language-css"]::before {
  content: "css";
  background: #08b102;
  color: rgb(22, 22, 22);
}
.gatsby-highlight pre[class~="language-jsx"]::before {
  content: "react";
  background: #00D8FF;
  color: rgb(22, 22, 22);
}
